h1{color:grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif}

.center {


    text-indent: 10px;
    margin:0 auto;
    background-color:white; 
    color:Black; 
    font:arial;
    width:350px;
    padding:20px;
    border-radius:25px;
    }
.centerdiv {
    margin-left: 150px;

}
